.Message_Container{
    display: flex;
    justify-content: space-evenly;
}

.image {
    display: flex;
    justify-content: flex-end;
    margin: 4em;
    margin-top: 2em;
    width: 60%;
    height: 60%;
}

.image img{
    width: 30em;
    height: 30em;
    border-radius: 30px;
    border: 2.5px solid rgb(0, 0, 0);    
    object-fit: cover; 
}

.classmates{
    display: flex 1;
    justify-content: flex-start;
    margin: 4em;
    margin-top: 2em;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.928);
    padding: 2em;
    border: 2.5px solid rgb(0, 0, 0);
    width: 50%;
    box-sizing: border-box;
}

.description{
    font-size: 1em;
}

