.Message_Container{
    display: flex;
}

.image {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    width: 60%;
    height: 60%;
}

.image img{
    width: 70%;
    height: 70%;
    border-radius: 30px;
    object-fit: cover; 
}

.classmates{
    display: flex 1;
    justify-content: space-evenly;
    margin: 1em;
}

.description{
    font-size: 2.2em;
}